# 利用扑克的排列组合,生成更多训练数据

将原始训练数据training.csv扩展后生成train2.csv

In [1]:
import pandas as pd
import numpy as np
from itertools import permutations

10个特征代表5张扑克的任意组合，5张扑克之间是无序的，由此可以增加更多训练样本。

### 增加更多训练样本

In [3]:
raw_data = pd.read_csv('input/training.csv', header=None)
raw_data.head()

   0  1  2  3  4   5  6   7  8   9
0  C  5  S  7  H   9  D   3  C   K
1  C  9  S  7  D   K  S  10  H   J
2  C  7  S  J  C  10  H   7  D   1
3  H  3  S  Q  D   3  S   3  H   Q
4  D  J  C  2  C  10  C   Q  S  10

In [10]:
for i in range(0,10,2):
    raw_data['poker_'+str(i//2+1)] = raw_data[i] + '_' + raw_data[i+1]
    raw_data = raw_data.drop([i,i+1],axis=1)
label = raw_data.iloc[:,0]
raw_data = raw_data.drop([10], axis=1)
raw_data['label'] = label

In [ ]:
for i in range(0,10,2):
    raw_data['poker_'+str(i//2+1)] = raw_data[i] + '_' + raw_data[i+1]
    raw_data = raw_data.drop([i,i+1],axis=1)

In [5]:
raw_data.head()

  poker_1 poker_2 poker_3 poker_4 poker_5
0     C_5     S_7     H_9     D_3     C_K
1     C_9     S_7     D_K    S_10     H_J
2     C_7     S_J    C_10     H_7     D_1
3     H_3     S_Q     D_3     S_3     H_Q
4     D_J     C_2    C_10     C_Q    S_10

In [9]:
result = raw_data.copy()
for index in permutations(range(0,5),5):
    index = list(index)
    index.append(5)
    tmp = raw_data.iloc[:,index]
    tmp.columns = ['poker_1','poker_2','poker_3','poker_4','poker_5','label']
    result = pd.concat([result, tmp])
result.drop_duplicates(inplace=True)

In [ ]:
for col in ['poker_1','poker_2','poker_3','poker_4','poker_5']:
    col_data = result[col].tolist()
    result = result.drop([col], axis=1)
    col_data = [item.split('_') for item in col_data]
    col_data = np.array(col_data)
    result[col + '_color'] = col_data[:,0]
    result[col + '_size'] = col_data[:,1]

In [ ]:
result.shape

In [ ]:
result.head()

In [ ]:
result.to_csv('input/preliminary-testing2.csv', index=None)